*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 10px;
}

table {
    width: 98%;
    margin: 1%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    text-align: center;
}